{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
{<title>Se connecter</title>}
{% endblock %}

{% block content %}

    <div class="contentLogin">

            <div id="loginBanniere">
            <div class="banniere">
                <h4>Se connecter</h4>
            </div>
        </div>


        <!-- Afficher le formulaire de saisie du mot de passe -->
        <h2 class="titleConnection">Veuillez saisir votre identifiant et le mot de passe pour vous connecter</h2>

        <form action="index.php?action=login" method="POST">
            <div class="form-group">
                <label for="">Pseudo ou email</label>
                <input type="text" name="username" class="form-control" placeholder="Utilisateur" />
            </div>

            <div class="form-group">
                <label for="">Mot de passe<a href="forget.php"> (J'ai oublié mon mot de passe)</a></label>
                <input type="password" name="password" class="form-control" placeholder="Mot de passe" />
            </div>

            <button class="btn btn-primary">Se connecter</button>

        </form>
    </div>

{% endblock %} 