{% block head %}
    <title>Nos marques</title>
{% endblock %}

{% block content %}

    <div class="titreMarque">
        <h1>Les marques qui nous fond confiance</h1>
    </div>

    <div class="presentationMarque">
        <p>Retrouver toutes les marques qui travaillent avec nous comme Moulin Roty, Vilac, L'oiseau bateau et bien d'autres.</p>
    </div>

    {% for marque in marques %}  
        <section class="row">
                <div class="col-xs">
                    <div class="card">
                        <img src="{{ marque.image }}" alt="" class="cardImg"></a>
                        <div class="cardBlock">
                            <h4 class="cardTitle">{{ marque.titre }} </h4>
                            <a href="index.php?action={{ marque.id_marque }}">
                        </div>
                    </div>
                </div>
        </section>
    {% endfor %}

{% endblock %}