{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
<title>Reinitialisation du mot de passe</title>
{% endblock %}

{% block content %}
   <div class="contentReset">
        <div id="ResetBanniere">
            <div class="banniere">
                <h4>Reinitialisation du mot de passe</h4>
            </div>
        </div>

        <!-- modif mot de pase -->

        <form action="" method="post">
            <div class="form-group">
                <label for="">Mot de passe</label>
                <input type="password" name="password" class="form-control" placeholder="changer votre mot de passe">
            </div>

            <div class="form-group">
                <label for="">Reinitialisation du mot de passe</label>

                <input type="password" name="passwordConfirm" class="form-control" placeholder="confirmation du mot de passe">
            </div>
            <button class="btn btn-primary">Reinitialiser mon mot de passe</button>
        </form>
   </div>

{% endblock %}