{% extends "/frontoffice/layout.html.twig" %}

{% block head %}
    <title>Mon compte</title>
{% endblock %}

{% block content %}
    <div class="contentAccount">
        
        <h1>Bonjour {{ auth.username }}
        
        
    </div>
{% endblock %}
